@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Telas & Tonos

File:			template.css
Author:			Amapolazul Grupo Creativo
Homepage:		www.amapolazul.com
Copyright:		2016

************************************************************************************************************************ */

/* ---------- General ---------- */

@font-face {
	font-family: "Open Sans";
	src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: "Open Sans Bold";
	src: url(fonts/OpenSans-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

a {
	color: #F7A800;
}

a:hover {
	color: #F7A800;
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: #000;
}

.custom_t1 p {
	margin: 10px 0;
	color: #FFF;
}

.custom_t1 a {
	color: #FFF;
}

/* Menu */

.menu_wrap {
	background-color: #F7F5F5;
}

.custom_m1 p {
	margin: 20px 0;
}

.moduletable_m2 {
	padding: 0;
}

ul.menu_main li {
	float: left;
	position: relative;
}

ul.menu_main a {
	padding: 30px 10px;
	color: #5D5D5D;
	text-transform: uppercase;
}

ul.menu_main li.active a,
ul.menu_main a:hover {
	background-color: #F7A800;
	color: #FFF;
}

ul.menu_main li.item-146,
ul.menu_main li.item-147 {
	display: none;
}

.custom_m3 p {
	margin: 0;
}

.custom_m3 a {
	color: #000;
	text-decoration: none;
}

.search_m4 {
	margin: 10px 0;
}

.search_m4 form {
	float: right;
	position: relative;
}

.search_m4 label {
	font-size: 0;
}

.search_m4 .inputbox {
	width: 115px;
	height: 26px;
	margin: 0;
	padding: 4px;
	border: 1px solid #CCC;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	position: relative;
}

.search_m4 .button {
	width: 26px;
	height: 26px;
	margin: 0;
	margin-left: -3px;
	padding: 0;
	background: url(../images/search_m4_button_bg.png) no-repeat #231F20;
	background-position: center;
	border: none;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 0;
	line-height: 34px;
	float: left;
	position: relative;
}

/* Navigation and Navigation Bottom */

.custom_n1 p,
.custom_n2 p {
	margin: 20px 0 20px 0;
}

.custom_n1 a,
.custom_n2 a {
	height: 112px;
	display: block;
}

.custom_n1 a {
	background: url(../../../images/telas-y-tonos/navigation/home.png) no-repeat;
}

.custom_n1 a:hover {
	background: url(../../../images/telas-y-tonos/navigation/home_hover.png) no-repeat;
}

.custom_n2 a {
	background: url(../../../images/telas-y-tonos/navigation/metro.png) no-repeat;
}

.custom_n2 a:hover {
	background: url(../../../images/telas-y-tonos/navigation/metro_hover.png) no-repeat;
}

.custom_n1 a,
.custom_n1 a:hover,
.custom_n2 a,
.custom_n2 a:hover {
	background-position: center;
}

/* Left */

.moduletable_l1,
.moduletable_l2 {
	margin-top: 20px;
}

.moduletable_l1 h3,
.moduletable_l2 h3 {
	padding: 2px 10px 2px 50px;
	font-size: 18px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
}

.moduletable_l1 h3 {
	background: url(../images/moduletable_l1_h3_bg.png) no-repeat;
}

.moduletable_l2 h3 {
	background: url(../images/moduletable_l2_h3_bg.png) no-repeat;
}

.moduletable_l1 ul,
.moduletable_l2 ul {
	padding: 5px 0;
	border: 1px solid #E6E6E6;
}

.moduletable_l1 li,
.moduletable_l2 li {
	margin: 5px 10px !important;
}

.moduletable_l1 a,
.moduletable_l2 a {
	padding: 10px 20px !important;
	border: none !important;
	font-size: 14px !important;
	text-transform: uppercase;
}

.moduletable_l1 li.active a,
.moduletable_l1 a:hover,
.moduletable_l2 li.active a,
.moduletable_l2 a:hover {
	background-color: #F7A800 !important;
}

.moduletable_l1 li.item-148,
.moduletable_l2 li.item-158 {
	display: none;
}

.custom_l3,
.custom_l4 {
	margin: 20px 0;
}

.custom_l3 a,
.custom_l4 a {
	height: 160px;
	display: block;
}

.custom_l3 a {
	background: url(../../../images/telas-y-tonos/modules/home.png) no-repeat;
}

.custom_l3 a:hover {
	background: url(../../../images/telas-y-tonos/modules/home_hover.png) no-repeat;
}

.custom_l4 a {
	background: url(../../../images/telas-y-tonos/modules/metro.png) no-repeat;
}

.custom_l4 a:hover {
	background: url(../../../images/telas-y-tonos/modules/metro_hover.png) no-repeat;
}

.custom_l3 a,
.custom_l3 a:hover,
.custom_l4 a,
.custom_l4 a:hover {
	background-position: center;
}

.moduletable_l5,
.moduletable_l6,
.moduletable_l7 {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #E6E6E6;
	font-size: 12px;
}

.moduletable_l5 h3,
.moduletable_l6 h3,
.moduletable_l7 h3 {
	margin: 0;
	padding: 10px 5px;
	background-color: #000;
	font-size: 14px;
	color: #FFF;
	text-align: center;
}

.moduletable_l5 a,
.moduletable_l6 a,
.moduletable_l7 a {
	color: #000;
}

.srm_position {
	margin-top: 20px;
	top: 0 !important;
	left: 0 !important;
	position: inherit !important;
}

.srm_position #srm_select_list {
	width: 100%;
	max-width: 100% !important;
}

/* Banner */

.moduletable_ba1,
.moduletable_ba2,
.moduletable_ba3,
.moduletable_ba4 {
	margin-bottom: 35px;
	padding-bottom: 20px;
	/*background: url(../images/moduletable_ba1_bg.png) no-repeat;*/
	background-position: bottom;
}

.moduletable_ba2,
.moduletable_ba3,
.moduletable_ba4 {
	margin: 20px 0 0 0;
}

/* Collection */

.moduletable_c1 {
	margin: 20px 0;
	padding-left: 50px;
	background: url(../images/moduletable_c1_bg.png) no-repeat;
	background-position: left;
}

.moduletable_c1 p {
	margin: 0;
	color: #5D5D5D;
}

.moduletable_c1 strong {
	font-size: 25px;
}

/* Component */

.component,
.component_quienes-somos,
.component_quienes-somos-home,
.component_quienes-somos-metro,
.component_novias {
	padding: 20px 0;
}

.component_quienes-somos,
.component_quienes-somos-home,
.component_quienes-somos-metro,
.component_novias {
	background-color: #F7F5F5;
}

/* Contents */

.content_box_1 {
	padding: 30px;
	background-color: #FFF;
	border: 1px solid #E6E6E6;
}

.content_box_1 p {
	margin: 0;
}

.img-center {
	margin: auto;
}

/* Block */

.block {
	padding: 20px 0;
	background-color: #F7F5F5;
}

.moduletable_blo1 .block_1,
.moduletable_blo1 .block_2,
.moduletable_blo1 .block_3,
.moduletable_blo1 .block_4 {
	margin-bottom: 20px;
}

.moduletable_blo1 .block_1 img,
.moduletable_blo1 .block_4 img {
	width: 100%;
}

.moduletable_blo1 .block_2 img,
.moduletable_blo1 .block_3 img {
	height: 322px;
}

.moduletable_blo2 .block_1,
.moduletable_blo2 .block_2,
.moduletable_blo2 .block_3,
.moduletable_blo2 .block_4 {
	margin-bottom: 20px;
}

.moduletable_blo2 .block_1 img,
.moduletable_blo2 .block_4 img {
	width: 100%;
}

.moduletable_blo2 .block_2 img,
.moduletable_blo2 .block_3 img {
	height: 322px;
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: #231F20;
}

ul.menu_main_bottom a,
ul.menu_home_bottom a,
ul.menu_metro_bottom a {
	padding: 2px 10px;
	color: #FFF;
	text-transform: uppercase;
}

ul.menu_main_bottom li.active a,
ul.menu_main_bottom a:hover,
ul.menu_home_bottom li.active a,
ul.menu_home_bottom a:hover,
ul.menu_metro_bottom li.active a,
ul.menu_metro_bottom a:hover {
	background-color: #F7A800;
}

.moduletable_bo4 {
	margin-bottom: 20px;
}

.moduletable_bo4 h3 {
	margin: 0;
	margin-bottom: 10px;
	font-family: "Open Sans Bold";
	font-size: 14px;
	color: #FFF;
}

.moduletable_bo4 label {
	display: none;
}

.moduletable_bo4 #form-row-email {
	width: 70%;
	float: left;
	position: relative;
}

.moduletable_bo4 #form-row-email input {
	width: 100% !important;
	border-radius: 0;
}

.moduletable_bo4 #form-row-button {
	width: 30%;
	float: left;
	position: relative;
}

.moduletable_bo4 #form-row-button input {
	width: 100% !important;
	background: #F7A800;
	border: none;
	border-radius: 0;
	color: #000;
	text-transform: uppercase;
}

.custom_bo5 p {
	margin: 0;
}

.custom_bo5 a {
	margin-right: 10px;
}

.custom_bo6 h3 {
	margin: 15px 0;
	font-family: "Open Sans Bold";
	font-size: 14px;
	color: #FFF;
	text-align: center;
}

.custom_bo6 p {
	margin: 0;
	color: #FFF;
}

/* Copyright */

.copyright_wrap {
	background-color: #231F20;
}

.copyright {
	padding: 10px;
	color: #FFF;
	text-align: center;
}

.copyright a {
	color: #FFF;
}

/* ---------- Joomla ---------- */

.items-leading h2, .item-page h2, .item h2 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.items-leading ul, .item-page ul, .item ul {
	margin: 10px 5px;
}

.items-leading li, .item-page li, .item li {
	padding: 5px 5px 5px 20px;
	background: url(../images/li_bg.png) no-repeat 7px 10px;
}

/* ---------- Components ---------- */

/* Users */

/* Login & Registration & Reset & Remind */

.login .page-header,
.registration .page-header,
.reset .page-header,
.remind .page-header {
	margin: 0;
	padding: 0;
	border: none;
}

.login .page-header h1,
.registration .page-header h1,
.reset .page-header h1,
.remind .page-header h1 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.login label,
.registration label,
.reset label,
.remind label {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.login input[type='text'],
.login input[type='password'],
.registration input[type='text'],
.registration input[type='password'],
.registration input[type='email'],
.reset input[type='text'],
.remind input[type='email'] {
	width: 100%;
	margin-bottom: 10px;
}

.login .btn.btn-default,
.registration .btn.btn-default,
.registration a.btn,
.reset .btn.btn-default,
.remind .btn.btn-default {
	background: #F7A800;
	border: none;
	border-radius: 0;
	color: #000;
}

.login ul {
	margin: 10px 0;
	border: none;
}

.login ul li a {
	border: none;
	border-radius: 0;
	color: #F7A800;
}

.login ul li a:hover {
	background: #F7A800;
	color: #FFF;
}

/* VirtueMart */

/* Category */

.browse-view h1 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.browse-view .row .product {
	min-width: inherit;
	margin-bottom: 10px;
	padding: 0 10px;
}

.browse-view .row .product .spacer {
	padding: 0;
	border: 1px solid #F2F2F2;
}

.browse-view .row .product .spacer .vm-product-media-container {
	margin: 0;
}

.browse-view .row .product .spacer .vm-product-media-container .vm_cat_image {
	width: 150px;
	height: 150px;
	margin: 10px auto;
}

.browse-view .row .product .spacer .vm_cat_title {
	padding: 10px 5px;
	background-color: #F2F2F2;
}

.browse-view .row .product .spacer .vm_cat_title h2 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}

.browse-view .row .product .spacer .vm_cat_title h2 a {
	color: #000;
}

.browse-view .row .product .spacer .vm_cat_title .product-price {
	min-height: inherit;
	margin: 0;
	text-align: center;
	float: none;
}

.browse-view .row .product .spacer .vm_cat_title .product-price span {
	color: #000;
}

/* Product */

.productdetails-view.productdetails {
	padding: 10px 0;
	border: 1px solid #F2F2F2;
}

.productdetails-view.productdetails .back-to-category {
	margin-bottom: 10px;
	text-align: right;
	float: none;
}

.productdetails-view.productdetails .vm_prod_image {
	padding: 10px;
	border: 1px solid #F2F2F2;
}

.productdetails-view.productdetails .vm_prod_details {
	padding: 10px;
	border: 1px solid #F2F2F2;
}

.productdetails-view.productdetails .vm_prod_details .vm_prod_title h1 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.productdetails-view.productdetails .vm_prod_details .vm_prod_description {}

.productdetails-view.productdetails .vm_prod_details .vm_prod_price .product-price {
	text-align: justify;
	float: none;
}

.productdetails-view.productdetails .vm_prod_details .vm_prod_add {}

span.addtocart-button input.addtocart-button, span.addtocart-button input.notify-button {
	background: #F7A800;
	border: none;
}

.productdetails-view.productdetails .vm_prod_details .vm_wishlist {}

.productdetails-view.productdetails .vm_prod_details .vm_wishlist h1 {
	margin: 30px 0;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.productdetails-view.productdetails .vm_prod_details .vm_wishlist input.quantity-input {
	margin-right: 10px;
}

/* Cart */

.vm-button-correct,
.vm-button-correct:link,
.vm-button-correct:visited {
	background: #F7A800;
	border: none;
	border-radius: 0;
	color: #FFF;
}

/* ChronoForms */

.chronoform h2 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
}

p.chrono_credits a {
	font-size: 0;
}

/* ---------- Media Queries ---------- */

/* Extra small devices */

@media (max-width: 767px) {

	/* Menu */

	ul.menu_main a {
		padding: 10px 5px;
		font-size: 0.8em;
	}

	.search_m4 .inputbox {
		width: 100px;
	}

	/* Navigation and Navigation Bottom */

	.custom_n1 a,
	.custom_n1 a:hover,
	.custom_n2 a,
	.custom_n2 a:hover {
		background-size: 100%;
	}

	/* VirtueMart */

	/* Category */

	.browse-view .row .product .spacer .vm-product-media-container .vm_cat_image {
		width: 100%;
		height: auto;
	}

}

/* Small devices */

@media (min-width: 768px) and (max-width: 991px) {

	/* Navigation and Navigation Bottom */

	.custom_n1 a,
	.custom_n1 a:hover,
	.custom_n2 a,
	.custom_n2 a:hover {
		background-size: 100%;
	}

}

@media (min-width: 768px) {

	/* Left */

	ul.srm_ulmenu {
		display: none !important;
	}

}

/* Medium devices */

@media (min-width: 992px) and (max-width: 1199px) {}

/* Large devices */

@media (min-width: 1200px) {

	.container {
		max-width: 1020px;
	}

}

/* ---------- Others ---------- */

.clear {
	clear: both;
}